$fa-font-path: "./../../node_modules/font-awesome/fonts/";
@import './../../node_modules/font-awesome/scss/font-awesome.scss';

@import './../../node_modules/bulma/bulma.sass';

@import './prism.css';

.has-text-weak-success {
  color: $success;
}

@keyframes checkAppears {
  0% {
    color: transparent;
  }
  100% {
    color: $success;
  }
}

@keyframes gentleContent {
  0% {
    color: transparent;
  }
  100% {
    color: $text;
  }
}
